@media screen {

  #turf-map-pane {
    display: flex;
    flex-direction: row;
    flex: 0 1 length;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #turf-map-image {
    margin: 0;
    padding: 0;
    width: 88%;
  }

  #turf-map-image .fullsizemap {
    width: 100%;
  }
 
  .turf-map-thumbnails {
    display: flex;
    flex-direction: column;
    flex: 0 1 length;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    width: 10%;
  }
 
  div.map-thumb {
    width: 100%;
    margin-bottom: 5px;
  }

  .map-swap-buttons {
    margin-top: 10px;
  }

  .map-swap-button {
    background-color: #33ffff;
    border: 2px solid #0000ff;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
  }
  .map-swap-button:hover {
    background-color: #00ff00;
    color: #006600;
  }
}
