@media screen {
  body {
    max-width: 1020px;
    min-width: 380px;
  }

  .App {
    text-align: center;
    background-color: #fffff;
    max-width: 1000px;
  }

  .App-header {
    height: 100px;
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    color: white;
  }

  .App-banner {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 80px;
    width: 100%;
    margin:0;
    text-align: center;
  }

  .App-title {
    /* font-size: 1.5em; */
    width: 100%;
    margin-top: 10px;
    color: #00aa00;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  #App-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: auto;
    max-width: 1000px;
    margin: 5px;
    padding-bottom: 5px;
    border: none;
    overflow: hidden;
  }

  #content-pane {
    width: 77%;
    height: auto;
    /* min-width: 360px; */
    margin-left: 3px;
    text-align: center;
    vertical-align: top;
  }

  #turf-home-page {
    height: auto;
    padding-left: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .home-maps-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    width: 100%;
  }

  .home-map-container {
    height: auto;
    width: 50%;
  }

  .home-page-map {
    height: auto;
    margin-left: 2.5%;
    width: 97.5%;
  }
 
  .home-map-label {
    color: #000000;
    font-size: 16px;
    text-align: center;
  }

  #navigation-pane {
    height: auto;
    width: 20%;
    min-width: 136px;
    /* display: inline-block; */
  }

  #nrcc-footer {
    background: #d1dce0;
    font-size: 14px;
    padding: 0;
    max-width: 1000px;
    margin: 0;
    width: 100%;
  }

  #nrcc-footer-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 132px;
  }

  #nrcc-footer-left {
    width: 40%;
  }

  #nrcc-footer-left .nrcc-contact {
    font-weight: bold;
  }

  #nrcc-footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
    margin-left: 3%;
  }

  #nrcc-footer-right .logo-1,
  #nrcc-footer-right .logo-2,
  #nrcc-footer-right .logo-3 {
    max-width: 50%;
    vertical-align: middle;
  }

  #nrcc-footer-right .logo-2,
  #nrcc-footer-right .logo-3 {
    padding-left: 2.5%;
  }

  #nrcc-footer-right .logo-1 img,
  #nrcc-footer-right .logo-2 img,
  #nrcc-footer-right .logo-3 img {
    margin-top: 15px;
    max-height: 60%;
    width: 100%;
    object-fit: contain;
  }
  
  #nrcc-footer-right .logo-1 { width: 45%; }
  #nrcc-footer-right .logo-2 { width: 25%; }
  #nrcc-footer-right .logo-3 { width: 25%; }

  #nrcc-footer .copyright { padding-bottom: 10px; }

}

@media only screen and (max-width: 912px) {
  .home-map-label { font-size: 14px; }
  #nrcc-footer-main { height: 128px; }
  #nrcc-footer-left { font-size: 12px; }
}
@media only screen and (max-width: 792px) {
  .home-map-label { font-size: 12px; }
  #nrcc-footer-main { height: 120px; }
  #nrcc-footer-left { font-size: 11px; }
}
@media only screen and (max-width: 720px) {
  /* .App-header { width: 100%; max-width: 420px; }
  #content-pane { width: 100%; max-width: 360px; }
  #navigation-pane { width: 100%; max-width: 360px; } */
  #content-pane { width: 97%; }
  #navigation-pane { width: 100%; }

  #nrcc-footer-main { height: 110px; }
  #nrcc-footer-left { font-size: 10px; }
  #nrcc-footer .copyright { font-size: 12px; }
}
@media only screen and (max-width: 650px) {
  #nrcc-footer-main { height: 100px; }
  #nrcc-footer-left { font-size: 9px; }
}
@media only screen and (max-width: 600px) {
  .home-map-label { font-size: 11px; }
}
@media only screen and (max-width: 500px) {
  .home-map-label { font-size: 10px; }
}

